name: Code Quality

on:
  pull_request:
    branches: [ main ]

jobs:
  spotless:
    name: Spotless Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - name: Spotless Check
        run: ./mvnw spotless:check -Pcheck

  checkstyle:
    name: Checkstyle Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - name: Checkstyle Check
        run: ./mvnw checkstyle:check -Pcheck
